div{
    height:50px;
    width:200px;
    text-align: center;
    background-color: green;
    border:2px solid black ;
    margin : 10px;
    display:inline-block;
  
}
#static{
    background-color: blue;
    position:static;
    top:100px;
    left:50px;
}
#relative
{
    background-color: blue;
    position:relative;
    top:100px;
    left:50px;
}
#absolute{
     background-color: blue;
    position:absolute;
    top:100px;
    left:50px;
}
#fixed{
     background-color: rgb(255, 0, 179);
    position:fixed;
    top:100px;
    left:50px;
}
