div 
{
    height:50px;
    width:200px;
    text-align: center;
    background-color: green;
    border:2px solid black ;
    margin : 10px;
    background-image: url(C:\Users\admin\Pictures\linked_in_profile\WhatsApp.jpg);
}