#outer{
    height:400px;
    width:400px;
    border:2px solid black;
    background-color: pink;
    font-size: 20px;
}
#inner{
    height:100px;
    width:100px;
    background-color: cornflowerblue;
    font-size: 0.5em;
    padding:1em;
}
button{
    font-size: 50px;
    padding:1em;
    border:5px solid black;
    border-radius: 20px;
}