
h1{
    background-color: blue;
    border:2px solid black
}
@media(width:400px)
{
    h1{
    background-color:red;
}
div{
    height:100px;
    width:100px;
    background-color: aqua;
}
}
@media(min-width:400px){
    h1{
        background-color: darkorange;
    }
}
@media(max-width:400px)
{
    h1{
    background-color: maroon;
}
}
@media (min-width:200px) and (max-width:300px)
{
    h1{
        background-color: bisque;
    }
}
