p{
padding-left:15px;
padding-right:15px;
padding-top:15px;
padding-bottom:15px;
}
p
{
    padding:50px;
}
p{
    padding:1px 2px;
}
p{
    padding:1px 2px 3px;
}
p
{
    padding:21px 35px 78px 98px;
}