.face{
    height:400px;
    width:400px;
    background-color: yellow;
    border-radius: 50%;
}
.mouth
{
    height:75px;
    width:200px;
    background-color: brown;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position:absolute;
    top:250px;
    left:110px;
}
.lefteye, .righteye{
    width:50px;
    height:50px;
    background-color: black;
     border-radius: 50%;
     display:inline-block;
     position:absolute;
     top : 100px;
     left:70px;
}
.righteye
{
  margin-left: 230px;

}