h1{
    color:red;
    text-align: center;
    font-weight: 100;
}
h4,h2{
    text-decoration: red underline;
}
p{
    color:rgb(3, 248, 3);
    font-weight: bold;
    line-height: 2.5;
    letter-spacing: 2.5px;
}
button{
    color:purple;
    background-color: azure;
}
#back{
    background-color: blue;
}
.a{
    color:rgb(218, 241, 5);
}
