div{
    height:200px;
    width:100px;
    background-color: green;
    transition:margin-top 2s ease-in- 0.2s;
}
div:hover{
    background-color: blue;
    border-radius: 100px;
    margin-top: 400px;
}