section{
    margin-top: 100px;
}
div{
    height:50px;
    width:200px;
    text-align: center;
    background-color: green;
    border:2px solid black ;
        margin : 10px;

}

div :nth-of-type(2n)
{
    background-color: blue;
   }
div :nth-of-type(3n)
{
    background-color:yellow;
}
#one
{
    transform: rotate(180deg);
}
#two
{
    transform:scale(0.5);
}
#three
{
    transform: translate(50px,50px);
    transform: translatex(50px);
}
#four
{
    transform: skew(45deg);
}
#five
{
    transform: rotate(45deg) translateX(150px);
}