.box{
    height:150px;
    width:150px;
    border: 2px solid black;
    background-color: blue;
}
.one{
    
    background-color: aqua;
    position:relative;
    z-index: 1;
}
.two{
    background-color: rgb(19, 36, 59);
    position : relative;
    bottom:50px;
    z-index: 3;

}
    